/* INI ADALAH STYLE JUMBOTRON */
.jumbotron{
    background-image: url('img/slide5.jpg');
    background-size: cover;
    height: 770px;
    text-align: center;
    margin-top: -120px;
}

.jumbotron .display-4{
    color : black;
    margin-top: 200px;
}

.jumbotron p{
    color: black;
    font-size: 25px;
}

.jumbotron hr{
    border-width: 3px;
}

.jumbotron .btn{
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 40px;
}

/* INI ADALAH STYLE CAROUSEL & SLIDER */
/* .carousel-item{
    height: 670px;
}
.carousel-item img{
    margin-top: -120px;
}

.carousel-item .display-4{
    margin-top: -440px;
    color: black;
}

.carousel-item hr{
    border-width: 3px;
}

.carousel-item .btn{
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 40px;
} */

.boxed {
    border: 1px solid green ;
    background-color:#0b56a7;
    border-radius: 15px;
}
.boxed p{
    color: white;
    font-size: 22;
    margin-left: 4%;
}
.boxed hr{
    border-color: #ffbb33;
    border-width: 3px;
    width: 95%;
}

.boxed .input{
    margin-left: 4%;
} 

.container .h2{
    margin-top: 10%;
}

.container .row{
    margin: center;
}
.row .column-content-left{
    border: 1px solid #0b56a7;
    border-radius: 8px;
}

.row .column-content-right{
    border: 1px solid #ffbb33;
}

.row .column-content-right .boxed{
    border-radius: 0%;
    margin-left: -4.5%;
    margin-right: -4.5%;
    border: none;
    margin-bottom: 5%;
    background-color:#ffbb33;
}

.row .column-content-left .input{
    margin-top: 5%;
}
.row .column-content-left .input2{
    margin-top: 5%;
}